/* Jim Vargas */
* {
    background-color: grey;
    color: white;
}
a:hover {
    font-weight: bold;
}
.warning {
    font-size: 2em;
    color: red;
    text-align: center;
}
p {
    text-align: justify;
}